body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    /* border: 2px solid blueviolet; */

}


.red-box{
    height: 50vh;
    width: 50vw;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.green-box{
    height: 50vh;
    width: 50vw;
    background-color: green;
    position: absolute;
    top: 0;
    right: 0;
}

.yello-box{
    height: 50vh;
    width: 50vw;
    background-color: rgb(255, 136, 0);
    position: absolute;
    bottom: 0;
    left: 0;
}

.pink-box{
    height: 50vh;
    width: 50vw;
    background-color: deeppink;
    position: absolute;
    bottom: 0;
    right: 0;
}

.circle-top-left{
    width: 100px;
    height: 100px;
    background-color: white;
    position: relative;
    top: 0;
    left: 0;
    border-bottom-right-radius: 100%;
}


.circle-top-right{
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
}

.circle-top-center{
    margin: -75px 0 0 0;
    height: 150px ;
    width: 150px;
    background-color: white;
    position: absolute;
    top: 0;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%);
}

.circle-bottom-left{

    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    border-top-right-radius: 100%;
}


.circle-bottom-right{
    height: 100px;
    width: 100px;
    background-color: white;
    position: absolute;
    bottom: 0;
    right: 0;
    border-top-left-radius: 100%;
}


.circle-bottom-center{
    margin: 0 0 -75px 0;
    height: 150px ;
    width: 150px;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    border-radius: 100%;
    transform: translateX(-50%);


}


.box-circle{
    height: 200px;
    width: 200px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;


}

.box-inside{
    height: 75px;
    width: 75px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-box{
    width: 150px;
    height: 150px;
    background-color:white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.center-inside-circle{
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}